:root {
  --primary-font-family: "Montserrat", sans-serif;
  --default-font-family: "Roboto", sans-serif;
  --primary-color: #ffffff;
  --secondary-color: #f65282;
  --background-color: #202020;
}

body {
  color: var(--primary-color);
  background-color: var(--background-color);
}

footer {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  height: 100px;
  background-color: #282323;
  color: var(--primary-color);
  padding: 2rem 7rem 2rem 10rem;
}

footer .name {
  font-size: 23px;
}

footer .credits {
  font-size: 12px;
}

footer .socials a {
  padding: 10px 10px;
  border-radius: 50%;
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

footer .socials a:hover {
  color: var(--background-color);
  background-color: var(--primary-color);
}

.container {
  padding: 6rem;
}

.navbar {
  font-family: var(--default-font-family);
  padding-left: 10rem;
}

.navbar-nav {
  padding-left: 48rem;
}

.hero {
  background-image: url(./images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 900px;
  text-align: center;
  margin-bottom: ;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding-top: 17.5rem;
  margin-bottom: 1.3rem;
}

.hero h1 {
  font-family: var(--default-font-family);
  font-size: 72px;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  margin-bottom: 1.3rem;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 17px;
  font-weight: lighter;
  letter-spacing: 1px;
  line-height: 2rem;
  margin-bottom: 3rem;
}

.btn-branding {
  background-color: var(--primary-color);
  border-radius: 50px;
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 1rem;
  width: 200px;
}

.container {
  display: grid;
  gap: 3rem;
}

.rewrite {
  display: flex;
  gap: 3em;
  flex-wrap: nowrap;
}

@media (max-width: 900px) {
  main {
    padding: 1rem;
    margin-top: 2rem;
  }

  .navbar,
  .navbar-nav {
    padding: 0;
    width: 100%;
  }

  .hero {
    width: 100%;
  }

  .hero h1 {
    font-size: 26px;
  }

  .hero p {
    font-size: smaller;
  }

  .btn-branding {
    font-size: smaller;
    width: 180px;
  }

  .container {
    padding: 0;
  }

  .rewrite {
    flex-direction: column;
  }

  footer {
    width: auto;
    padding: 1rem;
  }

  footer .name {
    font-size: 23px;
  }

  footer .socials {
    display: flex;
  }

  footer .credits {
    font-size: 15px;
    padding-left: 0.8rem;
  }

  footer .socials a {
    border-radius: 50%;
    color: var(--primary-color);
  }

  img {
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 425px) {
  footer {
    width: auto;
    padding: 1rem 0.4rem;
  }

  footer .name {
    font-size: 23px;
  }

  footer .socials {
    display: flex;
    padding-left: 0;
  }

  footer .credits {
    font-size: 10px;
    padding-left: 0.8rem;
    margin-top: 1.2rem;
  }

  footer .socials a {
    margin-left: -2px;
    margin-top: 1rem;
    border-radius: 50%;
    color: var(--primary-color);
  }
}
